<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="" method="POST">
        
    <input type="radio" name="prediction" value="Andhra Pradesh" id=""> <label for="">Andhra Pradesh</label><br>
    <input type="radio" name="prediction" value="Manipur" id="">  <label for=""> Manipur </label><br>
    
    <input type="radio" name="prediction" value="Chhattisgarh" id="">  <label for=""> Chhattisgarh </label><br>
    
    <input type="radio" name="prediction" value="Punjab" id="">  <label for=""> Punjab </label><br>
    
    <input type="radio" name="prediction" value="Jammu and Kashmir" id="">  <label for=""> Jammu and Kashmir </label><br>
    
    <input type="radio" name="prediction" value="Andaman and Nicobar Islands" id="">  <label for=""> Andaman and Nicobar Islands</label><br>
    
    <input type="radio" name="prediction" value="Goa" id="">  <label for=""> Goa </label><br>
    
    <input type="radio" name="prediction" value="Tamil Nadu" id="">  <label for=""> Tamil Nadu </label><br>
    
    <input type="radio" name="prediction" value="Union Territory of Chandigarh" id="">  <label for=""> Union Territory of Chandigarh</label><br>
    
    <input type="radio" name="prediction" value="Union Territory of Jammu and Kashmir" id="">  <label for=""> Union Territory of Jammu and Kashmir </label><br>
    
    <input type="radio" name="prediction" value="Union Territory of Ladakh" id="">  <label for=""> Union Territory of Ladakh </label><br>
    
    <input type="radio" name="prediction" value="Dadar Nagar Haveli" id="">  <label for=""> Dadar Nagar Haveli </label><br>

    
    <input type="radio" name="prediction" value="Chandigarh" id="">  <label for=""> Chandigarh </label><br>
    
    <input type="radio" name="prediction" value="Odisha" id="">  <label for=""> Odisha </label><br>
    
    <input type="radio" name="prediction" value="Bihar" id="">  <label for=""> Bihar </label><br>
    
    <input type="radio" name="prediction" value="Maharashtra" id="">  <label for=""> Maharashtra </label><br>
    
    <input type="radio" name="prediction" value="Gujarat" id="">  <label for="">Gujarat </label><br>
    
    <input type="radio" name="prediction" value="Delhi" id="">  <label for=""> Delhi </label><br>
    
    <input type="radio" name="prediction" value="Haryana" id="">  <label for=""> Haryana</label><br>
    
    <input type="radio" name="prediction" value="Madhya Pradesh" id="">  <label for=""> Madhya Pradesh </label><br>
    
    <input type="radio" name="prediction" value="Himachal Pradesh" id="">  <label for=""> Himachal Pradesh </label><br>
    
    <input type="radio" name="prediction" value="West Bengal" id="">  <label for=""> West Bengal </label><br>
    
    <input type="radio" name="prediction" value="Uttar Pradesh" id="">  <label for=""> Uttar Pradesh </label><br>
    
    <input type="radio" name="prediction" value="Meghalaya" id="">  <label for=""> Meghalaya </label><br>
    
    <input type="radio" name="prediction" value="Puducherry" id="">  <label for=""> Puducherry </label><br>
    
    <input type="radio" name="prediction" value="Arunachal Pradesh" id="">  <label for=""> Arunachal Pradesh </label><br>
    
    <input type="radio" name="prediction" value="Kerala" id="">  <label for="">Kerala </label><br>
    
    <input type="radio" name="prediction" value="Uttarakhand" id="">  <label for=""> Uttarakhand </label><br>

    <input type="radio" name="prediction" value="Mizoram" id="">  <label for=""> Mizoram </label><br>

    <input type="radio" name="prediction" value="Karnataka" id="">  <label for=""> Karnataka </label><br>

    <input type="radio" name="prediction" value="Ladakh" id="">  <label for=""> Ladakh </label><br>

    <input type="radio" name="prediction" value="Tripura" id="">  <label for=""> Tripura </label><br>

    <input type="radio" name="prediction" value="Rajasthan" id="">  <label for=""> Rajasthan </label><br>

    <input type="radio" name="prediction" value="Telengana" id="">  <label for=""> Telengana </label><br>

    <input type="radio" name="prediction" value="Jharkhand" id="">  <label for=""> Jharkhand </label><br>

    <input type="radio" name="prediction" value="Assam" id="">  <label for=""> Assam</label><br>



    <input type="submit" value="Submit">
</form>




    
</body>
</html>